.card{
    width: 640px;
    height: 400px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0px 40px;
}
