body {
  background-color: rgb(246, 248, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inputField {
  background-color: white;
  color: black;
  width: 100%;
  border: none;
}

.inputField:focus {
  border: none;
  outline: none;
}

.inputDiv {
  background-color: white;
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
}


.card {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 40px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.avatar {
  border-radius: 100%;
}

.credentials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name {
  font-size: 24px;
  color: black;
}

.user {
  font-size: 20px;
  color: blue;
}

.date {
  font-size: 16px;
  color: gray;
}

.social {
  width: 400px;
  background-color: rgb(233, 223, 223);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.item {
  display: flex;
  flex-direction: column;
}
